body {
	font-size: 16px;
}
#formulaire {
	display: block;
	align-items: center;
}
.col-2{
	float: left;
	width: 20%;
	text-align: center;
	margin-bottom: 15px;
}
.col-3{
	float: left;
	width: 25%;
	text-align: center;
	margin-bottom: 15px;
}
.col-4{
	float: left;
	width: 33%;
	text-align: center;
	margin-bottom: 15px;
}
.col-10{
	float: left;
	width: 80%;
	text-align: center;
	margin-bottom: 15px;
	padding: 0 10px;
}
#students > thead > tr > th{
	width: 15%;
}
#students > thead > tr > th.address {
	width: 40%;
}
#students th[data-sort] {
	cursor: pointer;
}
#toolbar, #header{
	height: 40px;
}
#toolbar *{
	vertical-align: middle;
}
#button {
	margin-top:20px;
}
input {padding: 5px; margin: 5px;}
/*.btn-danger {
	background-color: red;
	color: white;
}
.btn-primary {
	background-color: #367ac3;
	color: white;
}
*/